<!DOCTYPE html>
<html>
  <%- include('./components/header.ejs',{title: 'services'}); %>
  <body>
	  <div class="container">
		  <%- include('./components/content.ejs',{nav_current: 'projects'}); %>
		  <div class="content">
			  <h3>Projects</h3>
			  <div class="card flex">
				  <img src="/images/p01.png" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">WFM Manager</h5>
			      <p class="card-text">WFM Workforce Management Software</p>
			      <p class="card-text">Role:Use case designer.</p>
			    </div>
			  </div>

			  <div class="card flex">
				  <img src="/images/p02.png" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">CodeFit</h5>
			      <p class="card-text">The concept of CodeFit is to minimize the chance for users to switch windows by providing a comfortable and convenient user interface. </p>
			      <p class="card-text">Role:Developer, responsible for the Homework Subsystem design.</p>
			    </div>
			  </div>

			  <div class="card flex">
			        <img src="/images/p03.png" class="card-img-top" alt="...">
                <div class="card-body">
              	    <h5 class="card-title">Super Pay</h5>
              		<p class="card-text">A mobile payment application</p>
                    <p class="card-text">Role:Developer,responsible for use case design and programming. </p>
              	</div>
              </div>
		  </div>
		  <%- include('./components/footer.ejs') %>
	  </div>
	  <!-- JavaScript Bundle with Popper -->
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>