<!DOCTYPE html>
<html>
  <%- include('./components/header.ejs',{title: 'services'}); %>
  <body>
	  <div class="container">
		  <%- include('./components/content.ejs',{nav_current: 'services'}); %>
		  <div class="content">
			  <h3>services</h3>
			  <div class="card flex">
				  <img src="/images/web.jpg" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Web designer</h5>
			      <p class="card-text">I know web development,and know how to development a good website.</p>
			    </div>
			  </div>
			  
			  <div class="card flex">
				  <img src="/images/dbmanager.webp" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">DB junior developer</h5>
			      <p class="card-text">I am good at MySQL.</p>
			    </div>
			  </div>
		  </div>
		  <%- include('./components/footer.ejs') %>
	  </div>
	  <!-- JavaScript Bundle with Popper -->
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
