body,
html {
	padding: 0;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 100%;
}

.flexreverse {
	flex-direction: row-reverse;
}

.content {
	padding: 0.5em;
	margin-top: 1em;
	min-height: 600px;
}

.footer {
	line-height: 3em;
	border-top: 1px solid rgba(45, 45, 45, 1.0);
}

.content_main_img {
	width: 100%;
	height: auto;
	clear: both;
	display: float;
}

.content_main_welcome_msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 600px;
	text-align: center;
	font-size: 28px;
	line-height: 3em;
	background-image: url(/images/home1.jpeg);
	background-size: cover;
	color: white;
	
}
.content_content{
	padding: 0.8em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.aboutme{
	display: flex;
	flex-wrap: wrap;
}
.auto{
	width: 100%;
	height: auto;
}
.aboutme2{
	flex:2;
	margin-left: 2em;;
}
.card{
	margin-top:1em ;
}
.card-img-top{
	height: 150px;
	width: 150px;
}
.flex{
	display: flex;
	flex-direction: row;
}
@media  only screen and (max-width: 600px) {
	.content_main_welcome_msg{
		font-size: 19px;
		min-height: 300px;
		
	}
	.content{
		min-height: 0;
	}
	.aboutme2{
		margin-left: 0;
	}
}